* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #7fdedf;
}

.contenedor h1 {
    color: rgb(17, 17, 16);
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgb(239, 239, 239);
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 30px;
    position: absolute;
}

.contenedor img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 10%;
}

.contenedorLogo {
    background-color: rgb(34, 31, 31);
    width: 100%;
}

.article h3 {
    padding-top: 50px;
    width: 100%;
    height: 120px;
    font-size: 55px;
    color: rgb(217, 216, 213);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.article img {
    max-width: 250px;
    max-height: 250px;
    float: left;
    position: absolute;
    top: 900px;
    left: 20px
    
}


.navEvents {
    max-width: 100%;
    display: inline-block;
    
    
}

.navEvents a{
    text-decoration: none;
    color: rgb(217, 216, 213);
    margin: 2rem;
    
}


#navBotonera{
    
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    height: 50px; 
    position: absolute;
    display: inline;
    right: 10px;
    bottom: 320px;
    padding: 1rem;   
}
#navBotonera p{
    display: inline;
    text-decoration: none;
    border: solid 3px rgb(0, 0, 0);
}
#homeIndex{
    background-color: rgb(72, 168, 3);
    border-color: solid 4px rgb(0, 0, 0);
}
#aboutIndex{
    background-color: rgb(12, 78, 178);
    color: azure;
}
#contactIndex{
    background-color: rgb(12, 78, 178);
}
.navEvents ul {
    font-size: 40px;
    padding: 10px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    float: right;
    list-style-type: none;
    
}
footer {
    width: 100%;
    height: 50px;
    color: rgb(217, 216, 213);
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-top: auto;
    bottom: 0;
    
    
}


 /* ABOUT */


.navEventsAbout {
    max-width: 100%;
    display: inline-block;
    
}

.navEventsAbout a{
    text-decoration: none;
    color: rgb(217, 216, 213);
    margin: 2rem;
    
}

.navEventsAbout ul {
    font-size: 40px;
    width: 70%;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    float: right;
    
}
#navBotonera{
    
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    height: 50px; 
    position: absolute;
    display: inline;
    right: 10px;
    bottom: 320px;
    padding: 1rem;   
}
#navBotonera p{
    display: inline;
    text-decoration: none;
    border: solid 3px rgb(0, 0, 0);
}
#homeAbout{
    background-color: rgb(12, 78, 178);
    border-color: solid 4px rgb(0, 0, 0);
}
#aboutAbout{
    
    background-color: rgb(72, 168, 3);
    color: azure;
}
#contactAbout{
    background-color: rgb(12, 78, 178);
}
.navEventsAbout ul {
    font-size: 40px;
    padding: 10px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    float: right;
    list-style-type: none;
    
}

.footerAbout{
    width: 100%;
    height: 50px;
    color: rgb(217, 216, 213);
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-top: auto;
    bottom: 0;
    
}

/* CONTACT */

.navEventsContact {
    max-width: 100%;
    display: inline-block;
}
.navEventsContact a{
    text-decoration: none;
    color: rgb(217, 216, 213);
    margin: 2rem;
    
}


.navEventsContact ul {
    font-size: 40px;
    width: 70%;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    float: right;
}


#navBotonera{
    
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    height: 50px; 
    position: absolute;
    display: inline;
    right: 10px;
    bottom: 320px;
    padding: 1rem;  
}
#navBotonera p{
    display: inline;
    text-decoration: none;
    border: solid 3px rgb(0, 0, 0);
}
#homeContact{
    background-color: rgb(12, 78, 178);
    border-color: solid 4px rgb(0, 0, 0);
}
#aboutContact{
    
    background-color: rgb(12, 78, 178);
    color: azure;
}
#contactContact{
    background-color: rgb(72, 168, 3);
}
.navEventsContact ul {
    font-size: 40px;
    padding: 1rem;
    width: 800px;
    height: 500px;
    left:300px;
    top: 100px;
    position: relative;
    right: 1rem;
    font-family: 'Roboto', sans-serif;
    display: inline;
    list-style-type: none;
    
}
a:link{
    color: blue;
}
