* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #7fdedf;
}

.contenedor h1 {
    color: rgb(17, 17, 16);
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgb(239, 239, 239);
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 30px;
    position: absolute;
}

.contenedor img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 10%;
}

.contenedorLogo {
    background-color: rgb(34, 31, 31);
    width: 100%;
}

.article h3 {
    padding-top: 50px;
    width: 100%;
    height: 120px;
    font-size: 55px;
    color: rgb(217, 216, 213);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.article img {
    max-width: 400px;
    max-height: 400px;
    float: right;
    position: relative;
    top: -100px;
    margin-right: 80px;
    
}


.navEvents {
    max-width: 100%;
    display: inline-block;
    border: solid 4px rgb(254, 3, 3);
    
}

.navEvents nav {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 1rem;
    border: solid 1px rgb(254, 3, 3);
    width: 20%;
    
}

.navEvents ul {
    font-size: 40px;
    padding: 10px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    float: right;
    list-style-type: none;
    border: solid 1px rgb(254, 3, 3);
}

footer {
    width: 100%;
    height: 50px;
    color: rgb(217, 216, 213);
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-top: auto;
    bottom: 0;
    border: solid 1px rgb(254, 3, 3);
    
}


 /* ABOUT */

.navEventsAbout {
    max-width: 100%;
    display: inline-block;
    border: solid 5px rgb(254, 3, 3);
}

.navEventsAbout nav {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 20%;
    padding: 1rem;
    border: solid 1px rgb(254, 3, 3);
}

.navEventsAbout ul {
    font-size: 40px;
    width: 70%;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    float: right;
    border: solid 1px rgb(254, 3, 3);
}

.footerAbout{
    width: 100%;
    height: 50px;
    color: rgb(217, 216, 213);
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-top: auto;
    bottom: 0;
    border: solid 1px rgb(254, 3, 3);
}

/* CONTACT */

.navEventsContact {
    max-width: 100%;
    display: block;
    border: solid 1px rgb(254, 3, 3);
    width: 100%;
}

.navEventsContact nav {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 30%;
    padding: 1rem;
    border: solid 1px rgb(254, 3, 3);
}

.navEventsContact ul {
    
    font-size: 40px;
    padding: 1rem;
    width:40%;
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
    float: right;
    border: solid 1px rgb(254, 3, 3);
}

.footerContact{
    width: 100%;
    height: 50px;
    color: rgb(217, 216, 213);
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: auto;
    bottom: 0;
    border: solid 1px rgb(254, 3, 3);
}